langchain
langchain-community
langchain-openai
chromadb
python-dotenv
tiktoken
pdfminer.six
pydantic
python-dotenv
langchain_core
langgraph
openai
pypdf
rank_bm25
langchain-tavily
langchain-chroma